Package: com.thatmarcel.tweaks.lyzz
Name: Lyzz
Depends: mobilesubstrate, ws.hbang.alderis, preferenceloader, ws.hbang.common (>= 1.11)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Music visualizer (Spiritual successor / simpler rewrite of Mitsuha Forever)
Maintainer: Marcel Braun
Author: Marcel Braun
Section: Tweaks
